<p>An error was raised on the server because your CouchDB do not has a database called sinatratest.</p>
<p>Please click on the button below to create the database.</p>
<input class="create" type="button" value="Create Database" />