<table class="content" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Use</th>
            <th>Paradigm</th>
        </tr>
    </thead>
<tbody>
<% for(var row = 0; row < results.length; row++){ %>
        <tr>
            <td>
              <%=results[row].name%>
            </td>
            <td>
              <%=results[row].type%>
            </td>
            <td>
              <%=results[row].use%>
            </td>
            <td>
              <%=results[row].paradigm%>
            </td>
        </tr>
<%}%>
</tbody>
</table>
